<%- include('header.ejs') %>
<div class="container">
    <h1><%= title %></h1>
    <a href="/profile">Profile</a>
</div>  

<% accounts.forEach(function(account){ %>
    <%- include('summary.ejs', { account: accounts.savings } ) %>
    <%- include('summary.ejs', { account: accounts.checking } ) %>
    <%- include('summary.ejs', { account: accounts.credit } ) %>
<% }); %>

<a href="/services/transfer">Transfer</a>
<%- include('footer.ejs') %>